@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', 'Fredoka', sans-serif;
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: hsl(240, 27%, 98%);
  --foreground: hsl(231, 28%, 7%);
  /*status*/
  --paid: hsl(160, 67%, 52%); /*green bg-opacity 5.71%*/
  --pending: hsl(34, 100%, 50%); /*orange bg-opacity 5.71%*/
  --draft: hsl(231, 20%, 27%); /*dark-grey+blue bg-opacity 5.71%*/
}
