@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer components {
  .grey13 {
    @apply font-medium text-[0.8125rem] leading-[0.9375rem] text-card-foreground tracking-[-0.008em];
  }
  .black15 {
    @apply font-bold text-[0.9375rem] leading-5 text-foreground tracking-[-0.016em];
  }
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 50%;
  }
  input[type='date']::-webkit-calendar-picker-indicator:hover {
    opacity: 100%;
    cursor: pointer;
  }

  /* ::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  /* }*/
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
}
.react-datepicker_month-container {
  background-color: aqua;
}
