@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', 'Fredoka', sans-serif;
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
}
:root {
  --background: hsl(240, 27%, 98%);
  --foreground: hsl(231, 28%, 7%);
}
